@font-face {
    font-family: Mirza__Bold;
    src: url('../Font/Mirza/Mirza-Bold.ttf');
}

@font-face {
    font-family: Mirza__Medium;
    src: url('../Font/Mirza/Mirza-Medium.ttf');
}

@font-face {
    font-family: Mirza__Regular;
    src: url('../Font/Mirza/Mirza-Regular.ttf');
}

@font-face {
    font-family: Mirza__SemiBold;
    src: url('../Font/Mirza/Mirza-SemiBold.ttf');
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    overflow-x: hidden;
}

.my__bg img {
    width: 100%;
}

.bg__hero {
    height: 100vh;
}

.wrapper {
    max-width: 1600px;
    margin: auto;
}

.my__bg {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.text__count {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.row__soft__one {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column__soft__one {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.soft__left__column {
    /* border: 1px solid black; */
    height: auto;
}

.right__soft__column {
    height: auto;
    /* border: 1px solid black; */
}

.div__text {
    background-color: #FFA901;
    margin: 20px 0px 0px 0px;
    padding: 10px 30px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 20px 40px rgba(255, 193, 71, 0.1);
}

.div__text h1 {
    color: #FFFFFF;
    font-family: 'Mirza__Bold';
    font-size: calc(28pt + 0.15vw);
    line-height: 1.2196;
    letter-spacing: 0.03em;
}

@media screen and (max-width: 1080px) {
    .div__text h1 {
        font-size: calc(10pt + 0.15vw);
    }
}

@media screen and (max-width: 640px) {
    .div__text h1 {
        font-size: calc(8pt + 0.15vw);
    }
    .div__text {
        margin: 10px 0px 0px 0px;
    }
}

@media screen and (max-width: 539px) {
    .div__text {
        padding: 10px 0px;
    }
}

.para {
    margin: 10px 0px 0px 0px;
    text-align: center;
}

.para p {
    color: #FFFFFF;
    font-family: 'Mirza__Bold';
    font-size: calc(16pt + 0.15vw);
    line-height: 1.2196;
    letter-spacing: 0.03em;
}

@media screen and (max-width: 1080px) {
    .para p {
        font-size: calc(8pt + 0.15vw);
    }
}

@media screen and (max-width: 640px) {
    .para p {
        font-size: calc(6pt + 0.15vw);
    }
}

.white__para {
    margin: 10px 100px 0px 30px;
    background-color: #b16ad00e;
    padding: 10px 0px 10px 40px;
}

.white__para span {
    color: #FFA901;
    font-size: calc(20pt + 0.15vw);
}

.white__para p {
    color: #FFFFFF;
    font-family: 'Mirza__Bold';
    font-size: calc(16pt + 0.15vw);
    line-height: 1.2196;
    letter-spacing: 0.03em;
}

@media screen and (max-width: 1080px) {
    .white__para span {
        font-size: calc(8pt + 0.15vw);
    }
    .white__para p {
        font-size: calc(8pt + 0.15vw);
    }
}

@media screen and (max-width: 640px) {
    .white__para span {
        font-size: calc(6pt + 0.15vw);
    }
    .white__para p {
        font-size: calc(6pt + 0.15vw);
    }
    .white__para {
        margin: 0px 0px 0px 10px;
        background-color: #b16ad00e;
        padding: 10px 0px 10px 10px;
    }
}

.org__para {
    margin: 10px 10px 0px 170px;
    background-color: #b16ad02a;
    padding: 10px 0px 10px 40px;
}

.org__para span {
    color: #FFA901;
    font-size: calc(20pt + 0.15vw);
}

.org__para p {
    color: #FFFFFF;
    font-family: 'Mirza__Bold';
    font-size: calc(16pt + 0.15vw);
    line-height: 1.2196;
    letter-spacing: 0.03em;
}

@media screen and (max-width: 1080px) {
    .org__para span {
        font-size: calc(8pt + 0.15vw);
    }
    .org__para p {
        font-size: calc(8pt + 0.15vw);
    }
}

@media screen and (max-width: 768px) {
    .org__para {
        margin: 10px 10px 0px 70px;
    }
}

@media screen and (max-width: 640px) {
    .org__para span {
        font-size: calc(6pt + 0.15vw);
    }
    .org__para p {
        font-size: calc(6pt + 0.15vw);
    }
}

@media screen and (max-width: 539px) {
    .org__para {
        margin: 10px 0px 0px 0px;
        background-color: #B16AD0;
        padding: 10px 0px 10px 10px;
        width: 200%;
    }
}

}

.yellow {
    margin: 10px 0px 0px 70px;
}

.yellow p {
    color: #FFFFFF;
    font-family: 'Mirza__SemiBold';
    font-size: calc(14pt + 0.15vw);
    line-height: 1.2196;
    letter-spacing: 0.03em;
    color: #FFA901;
}

@media screen and (max-width: 1080px) {
    .yellow p {
        font-size: calc(8pt + 0.15vw);
    }
}

@media screen and (max-width: 640px) {
    .yellow p {
        font-size: calc(6pt + 0.15vw);
    }
    .yellow {
        margin: 0px 0px 0px 70px;
    }
}

@media screen and (max-width: 539px) {
    .yellow {
        margin: 10px 0px 0px 10px;
    }
    .sec {
        background-color: #B16AD0;
        width: 200%;
    }
}

.listing {
    margin: 0px 0px 0px 30px;
}

.listing ul li {
    list-style: none;
    color: #FFFFFF;
    font-size: calc(12pt + 0.15vw);
    line-height: 1.6196;
    letter-spacing: 0.03em;
    font-family: 'Mirza__SemiBold';
}

@media screen and (max-width: 1080px) {
    .listing ul li {
        font-size: calc(8pt + 0.15vw);
    }
}

@media screen and (max-width: 640px) {
    .listing ul li {
        font-size: calc(6pt + 0.15vw);
    }
    .listing {
        margin: -11px 0px 0px 0px;
    }
}

@media screen and (max-width: 539px) {
    .listing {
        margin: 0px 0px 0px 0px;
    }
}

.drop__text {
    margin: 0px 0px 0px 60px;
}

.drop__text p {
    list-style: none;
    color: #FFFFFF;
    font-size: calc(14pt + 0.15vw);
    line-height: 1.6196;
    letter-spacing: 0.03em;
    font-family: 'Mirza__Bold';
}

@media screen and (max-width: 1080px) {
    .drop__text p {
        font-size: calc(8pt + 0.15vw);
    }
}

@media screen and (max-width: 640px) {
    .drop__text p {
        font-size: calc(6pt + 0.15vw);
    }
    .sec__two {
        background-color: #B16AD0;
        width: 200%;
    }
}

@media screen and (max-width: 539px) {
    .sec__two {
        background-color: transparent;
    }
    .drop__text {
        margin: 0px 0px 0px 32px;
    }
}

.input__white {
    max-width: 70%;
    margin: 0px 0px 0px 60px;
}

.form-control:focus {
    color: #212529;
    background-color: #EEEEEE;
    border: 2px dashed #FFE0A2;
    border-color: transparent;
    outline: none;
    box-shadow: none;
    padding: 10px;
    border-radius: 15px;
}

.form-control {
    color: #212529;
    background-color: #EEEEEE;
    border-color: transparent;
    outline: none;
    box-shadow: none;
    border: 2px dashed #FFE0A2;
    padding: 10px;
    border-radius: 15px;
}

input[type="text"] {
    font-family: 'Mirza__SemiBold';
    font-size: calc(11pt + 0.15vw);
}

.form-control::-webkit-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #3E0855;
    /* Firefox */
}

.form-control::-moz-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #3E0855;
    /* Firefox */
}

.form-control:-ms-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #3E0855;
    /* Firefox */
}

.form-control::-ms-input-placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #3E0855;
    /* Firefox */
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #3E0855;
    /* Firefox */
}

.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: #3E0855;
}

.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: #3E0855;
}

@media screen and (max-width: 1080px) {
    input[type="text"] {
        font-size: calc(8pt + 0.15vw);
    }
}

@media screen and (max-width: 640px) {
    input[type="text"] {
        font-size: calc(6pt + 0.15vw);
    }
    .input__white {
        max-width: 50%;
        margin: 0px 0px 0px 20px;
    }
}

@media screen and (max-width: 539px) {
    .input__white {
        max-width: 40%;
        margin: 0px 0px 0px 20px;
    }
}

.but__one {
    margin: 0px 0px 0px 60px;
}

.but__one button {
    border: none;
    background-color: #9F00E8;
    color: #FFFFFF;
    padding: 10px 90px;
    font-family: 'Mirza__Bold';
    font-size: calc(14pt + 0.15vw);
    border-radius: 15px;
    transition: .3s ease-in-out;
}

.but__one:hover button {
    color: black;
    background-color: #FFE0A2;
    transform: translateY(-3px);
    transition: .3s ease-in-out;
}

@media screen and (max-width: 1080px) {
    .but__one button {
        font-size: calc(8pt + 0.15vw);
    }
}

@media screen and (max-width: 768px) {
    .but__one button {
        padding: 10px 50px;
    }
}

@media screen and (max-width: 640px) {
    .but__one button {
        font-size: calc(6pt + 0.15vw);
    }
    .but__one {
        margin: 0px 0px 0px 10px;
    }
}

@media screen and (max-width: 539px) {
    .but__one {
        margin: 0px 0px 10px 30px;
    }
    .but__one button {
        padding: 10px 40px;
    }
}